body {
    margin: 0;
    display: flex;
    place-items: center;
    min-height: 100vh;
}

#root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    padding: 2rem;
    text-align: center;
    background-color: #242424;

    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 100vh;
}

header {
    position: sticky;
    top: 20px;
    z-index: 1000;
    overflow: hidden;
}

.logo {
    width: min(50vw, 300px);
    background-color: #3f3d3d;
    overflow: hidden;
    object-fit: cover;
    cursor: pointer;
}

.image {
    display: inline-block;
    width: min(70vw, 600px);
    cursor: pointer;
    user-select: none;
}

ul,
figure {
    margin: 0;
    padding: 0;
}

figure {
    width: min(70vw, 600px);
    margin-bottom: 20px;
}

figure svg {
    fill: white;
    cursor: pointer;
}

ul li {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.container {
    position: relative;
    max-width: 1200px;
}

svg.icon {
    cursor: pointer;
    width: 100px;
}
